h2 {
    text-align: center;
    text-decoration: underline;
}
h3 {
    text-align: center;
    margin-bottom: 8px;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: green;
}

table {
    border: solid 2px black;
    border-spacing: 0;
    border-radius: 12px;
    background-color: #f5f5f5;
    box-shadow: #444 4px 4px 2px;
    margin: 0 auto 50px auto;
    width: 80%;
    max-width: 1200px;
}

thead {
    border: solid 2px green;
    position: -webkit-sticky;
    position: sticky;
    top: -8px; /*90*/
    z-index: 0;
}

th {
    background-color: #bbb;
    border-bottom: 2px solid;
    border-right: 2px solid;
    padding: 10px 8px 6px 8px;
}

td {
    text-align:center;
    border-bottom: 2px solid;
    border-right: 2px solid;
    padding: 8px;
    white-space: nowrap;
}

.dm {
    width: 1.5rem;
    padding-bottom: 10px;
    margin-right: 11px;
}
.spot {
    width: 1.5rem;
    padding-bottom: 8px;
    margin-right: 11px;
}

.spot-only {
    width: 1rem;
    scale: 1.5;
    padding: 0 6px 0 0;
    transform: translateY(1px);
}
.yt {
    width: 1rem;
    scale: 2;
    transform: translateY(-7px);
    margin-right: 16px;
    margin-left: 8px;
}

.dm:hover   { fill: #5865F2; }
.spot:hover { fill: #1DB954; }
.yt:hover   { fill: #FF0000; }
.spot-only-hover:hover { fill: #1DB954; color: #1DB954;}

tr td:nth-child(3) {
    padding: 0;
    margin: 0;
    vertical-align: center;
}

tr:nth-child(odd) .audio    { background-color: #0B0A08; }
tr:nth-child(odd) .dm-a    { filter: hue-rotate(200deg) contrast(100%) invert(100%) brightness(105%) }
tr:nth-child(odd) .spot-a  { filter: hue-rotate(100deg) contrast(100%) invert(100%) brightness(105%) }
tr:nth-child(odd) .yt-a    { filter: hue-rotate(300deg) contrast(100%) invert(100%) brightness(105%) }

tr:nth-child(even) .audio   { background-color: #444; }
tr:nth-child(even) .dm-a   { filter: hue-rotate(200deg) contrast(100%) invert(100%) }
tr:nth-child(even) .spot-a { filter: hue-rotate(100deg) contrast(100%) invert(100%) }
tr:nth-child(even) .yt-a   { filter: hue-rotate(300deg) contrast(100%) invert(100%) }

tr td:nth-child(2) {
    text-align: left;
    width: 70%;
    white-space: normal !important;
}

tr td:nth-child(4) {
    text-align: right;
}

tr:nth-child(even) td{ background-color: #ddd; }
th:last-child, td:last-child { border-right: none; }
tr:last-child td { border-bottom: none; }

th:first-child { border-radius: 10px 0 0 0; }
th:last-child { border-radius: 0 10px 0 0; }
tr:last-child td:first-child { border-radius: 0 0 0 10px; }
tr:last-child td:last-child { border-radius: 0 0 10px 0; }